*{
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid black;
    padding: 10px;
    position: sticky;
    top: 0;
}

main {
    border: 1px solid black;
    height: 800px;
    padding: 10px;
}

footer{
    border: 1px solid black;
    padding: 10px;
}